
.icon-brainstorming:before { content: '\e800'; } /* '' */
.icon-exchange:before { content: '\e801'; } /* '' */
.icon-loan:before { content: '\e802'; } /* '' */
.icon-shield:before { content: '\e803'; } /* '' */
.icon-smartphone:before { content: '\e804'; } /* '' */
.icon-wallet:before { content: '\e805'; } /* '' */
.icon-hierarchical-structure:before { content: '\e806'; } /* '' */
.icon-network:before { content: '\e807'; } /* '' */